* {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

body {
	background-color: #f8f8f8;
}


/* header */
header {
	position: relative;
    z-index: 1;
}
.busanas ul {
	list-style-type: none;
    overflow: hidden;
}

.busanas ul li {
    float: left;
    margin-left: 50px;
}

.busanas ul li a {
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 0;
    text-decoration: none;
    margin-top: 25px;
	color: #342626;
}

.busanas ul li a:hover {
    text-decoration: underline;
    color: #342626;
    cursor: pointer;
}

.ikon {
	padding: 40px 0px;
	float: right;
}

.logo {
	margin: 0 120px 0 30px;
}
.busanas {
	font-family: Rasa;
	font-style: normal;
	font-weight: normal;
	color: #342626;
	float: left;
	width: 100%;
	height: 90px;
	display: flex;
	line-height: 80px;
	position: fixed;
	top: 0;
	background-color: #ffffff;
}


a{
	color: inherit;
	text-decoration: none
}
#bg-login{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.box-login{
	width: 300px;
	min-width: 200px;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 15px 15px 45px 15px;
	box-sizing: border-box;
}
.box-login h2 {
	text-align: center;
	margin-bottom: 15px;
}
.input-control{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
}
.btn{
	padding: 8px 15px;
	background-color:  #1e5081; 
	color: #fff;
	cursor: pointer;
}

a{
	color: inherit;
}

.container{
	width: 80%;
	margin: 0 auto;
}
.container:after{
content: "";
display: block;
clear: both;
}
.section{
	margin-top: 10px;
	padding: 25px 0;
}
.box{
	background-color: #fff;
	padding: 15px;
	box-sizing: border-box;
	margin: 10px 0 25px 0;
}
.box:after{
	content: '';
	display: block;
	clear: both;
}
footer{
	padding: 5px 0;
}
.table{
	width: 100%;
	border-collapse: collapse;
}
.table tr{
	height: 30px;
}
.table tr td{
	padding: 5px 10px;
}
.search{
padding: 15px 0;
background-color: #fff;
text-align: center;
}
.search input[type=text]{
width: 60%;
padding: 10px;
}
.search input[type=submit]{
	padding: 9px 16px;
	background-color:  #054756 ;
	color: #fff;
	border: none;
	cursor: pointer;
}
.col-5{
	width: 25%;
	height: 100px;
	text-align: center;
	float: left;
	padding: 5px;
	box-sizing: border-box;
	margin-left: 70px;
}
.colempat:hover{
	filter: brightness(110%);
}
.colempat {
	width: 25%;
	height: 320px;
	border: 1px solid #ccc;
	float: left;
	box-sizing: border-box;
	border: none;
	margin-bottom: 25px;
}
.colempat img{
	width: 80%;
	height: 80%;
	margin-top: 30px;
}
.colempat .nama{
	font-weight: bold;
	color: #666;
	margin-bottom: 5px;
	margin-top: 15px;
}
.colempat .harga{
	color: #66cc;

}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 100px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
.footer p{
	margin-bottom: 10px;
	  opacity: 50%;
}
.container small{
	padding-bottom: 100px;
	color: #1a1313;
}
.coldua{
	width: 50%;
	min-height: 200px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.coldua p{
	margin: 10px 0;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	color: #342626;
	
}
/* .link-order{
	padding-top: 35px;
}
.coldua .link-order span{
	margin-right: 30px;
	padding-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
}
.coldua .link-order img{
	width: 55px;
	padding-right: 30px;
} */
.pemesanan{
	margin-top: 30px;
}
.pemesanan .order-1{
	border: solid 1px #1a1313;
	box-sizing: border-box;
	padding: 10px 80px;
	background-color: #0a0a0a;
	color: #ffffff;
}
.pemesanan .order-1:hover{
	background-color: #ffffff;
	color: #0a0a0a;
}
}
.coldua h3{
	font-size: 25px;
}
.coldua h4{
		color: #66cc;
		font-size: 18px;
}
@media screen and (max-width: 768px){
	.container{
		width: 90%;
	}
	.col-5{
	width: 50%;
	margin-bottom: 15px;
	float: right;
	margin-right: 65px;
	}
	.colempat{
		width: 50%;
		margin-top: 50px;
		height: 300px
	}
	.coldua{
		width: 100%;
	}
	.footer-logo, .footer-list,{
		width: 100%;
	}
	.search input[type=submit]{
	width: 100%;
	margin-top: 10px;
	}
	.search input[type=text]{
		width: 100%;
	}
}
.footerhover  :hover{
	text-decoration: underline;
	cursor: pointer;
}


	